.rc-input-number {
  width: 8rem;
  height: 3rem;
}

.rc-input-number:hover .rc-input-number-handler-wrap {
  background-color: #1a2029 !important;
}

.rc-input-number {
  border: none;
}

.rc-input-number-handler-wrap > span {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-input-number-handler-wrap > span > span {
  text-align: center;
  font-size: 1.11rem;
}

.rc-input-number-handler-wrap {
  background-color: #1a2029;
  border-left: 1px solid #71809628;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rc-input-number-input-wrap {
  border-top: 1px solid #1a2029;
  border-left: 1px solid #1a2029;
  border-bottom: 1px solid #1a2029;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rc-input-number-input-wrap * {
  border-radius: 0px;
}

.rc-input-number-input-wrap > input {
  font-size: 1.14rem;
  color: #26282c;
  background-color: #1a2029;
}

.rc-input-number:hover,
.rc-input-number:hover .rc-input-number-handler-wrap,
.rc-input-number:hover .rc-input-number-handler-up {
  border-color: inherit;
}

.rc-input-number:focus * {
  box-shadow: none;
}

.rc-input-number:hover,
.rc-input-number:hover .rc-input-number-handler-wrap,
.rc-input-number:hover .rc-input-number-handler-up {
  border-color: #71809628;
}

.rc-input-number-handler-up {
  border-color: #71809628;
}

.rc-input-number-handler-up-inner,
.rc-input-number-handler-down-inner,
.rc-input-number-input {
  color: #cbd5e0 !important;
}
