.DateRangePicker {
  display: block !important;
}

.DateRangePicker > * {
  width: 100% !important;
}

.DateRangePickerInput {
  width: 100% !important;
  background-color: #1a2029;
}

/* Desktop font */
.DateRangePicker > * > * > * > * {
  font-size: 1.05rem !important;
}

/* Mobile font */
.DateRangePicker > * > * > * {
  font-size: 1.05rem !important;
}

.DateInput {
  width: 120px !important;
}

.DateInput_input {
  color: #fcfcfc !important;
  font-weight: 400;
  background-color: #1a2029;
}

.DateRangePickerInput > :first-child {
  border-top-left-radius: 0.575rem;
  border-bottom-left-radius: 0.575rem;
}

.DateRangePickerInput__withBorder {
  border: none;
  border-radius: 0.375rem;
}

.DateRangePickerInput > :first-child > .DateInput_input_1 {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: none;
}

.CalendarDay__selected_span {
  background: #7f9cf5;
  color: white;
  border: none;
}

.CalendarDay__selected {
  background: #5a67d8;
  color: white;
  border: none;
}

.CalendarDay__selected:hover,
.CalendarDay__selected:active {
  background: #4c51bf;
  color: white;
  border: none;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #667eea;
  color: white;
  border: none;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #667eea;
  border: none;
}

.DateInput_input__focused {
  border-bottom: 2px solid #667eea;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #667eea;
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
  border-right: 33px solid #5a67d8;
}

.DateRangePickerInput_arrow_svg {
  fill: #cbd5e0;
  margin-right: 1.1rem;
}
